header {
    background-color: rgb(171, 229, 252);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -20px;
}

#Logo {
    width: 200px;
    height: 110px;
    margin-left: 80px;
}

.table-space {
    width: 25%;
}

.table-space2 {
    width: 50%;
}

.table-th {
    background-color: rgb(127, 166, 251);
    text-align: left;
    color: white;
}

.table-td {
    background-color: rgb(223, 229, 242);
}

.paragrafo {
    margin-top: -28px;
    color: gray;
}

.paragrafo2 {
    margin-top: -20px;
    color: gray;
}

.paragrafo3 {
    margin-top: -5px
}


.color-white {
    color: white;
}

.bg-footer {
    background-color: rgb(49, 58, 107);
    height: 50px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -20px;
    margin-right: -20px;
    margin-left: -20px;
}

.paragrafo-footer {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 18px;
    color: white;
}