



header {
    background-color: rgb(171, 229, 252);
}

#Logo {
    width: 200px;
    height: 110px;
    margin-left: 80px;
}


.table-th {
    background-color:lightskyblue;
}

.table-td {
    background-color: rgb(197, 228, 250);
}

.paragrafo {
    margin-top: -28px;
}

.paragrafo2 {
    margin-top: -20px
}

.paragrafo3 {
    margin-top: -5px
}


.color-white {
    color: white;
}

.bg-footer {
    background-color: rgb(65, 63, 180);
    height: 50px;
    text-align: center;
    padding-bottom: 30px;   
    margin-bottom: -10px;
}

.paragrafo-footer {
    padding-top: 30px;
    color: white;
}

